:root {
    --primary-color: rgba(223, 230, 233, 1.0);
    --text-color: #282828;
    --text-color-terminal: #0df205;
    --text-box-shadow: #09a603 3px 0 20px;
    --bg-color: rgba(223, 230, 233, 1.0);
    --bg-card-color: rgba(0, 206, 201, 1.0);
    --bg-bar-color: rgb(136, 135, 135);
    --border-articles: 0.4em;
    --transition: color 0.3s, background-color 0.4s easy-in-out;
    --skills-bar-length: 0%;
  }
  
  @font-face {
    font-family: "minecraft";
    src: url(assets/Minecraft.ttf);
  }
  * {
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
  }
  
  body {
    color: var(--text-color);
    background-color: rgb(248, 252, 255);
    min-height: 100vh;
    margin: 0;
  }
  
  body.dark {
    --primary-color: rgb(26, 26, 26);
    --bg-color: #282828;
    --text-color: rgba(223, 230, 233, 1.0);
    --bg-card-color: rgb(17, 21, 21);
    background-color: var(--bg-color);
    color: var(--text-color);
  }
  
