---
---

<article class="home articles" id="home">
  <div class="img-container">
    <img class="img" src="/assets/foto-perfil-0.jpeg" alt="foto de perfil" />
  </div>

  <div class="home-container">
    <div id="typed-string" class="titulo">
      <h2 class="titulo"><span class="typed"></span></h2>
    </div>
  </div>
</article>

<style>
  .home {
    font-family: "minecraft";
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    min-height: 95vh;
  }
  .img-container {
    min-width: 16rem;
    max-width: 16rem;
    overflow: hidden;
  }
  .img {
    width: 100%;
    border-radius: 50%;
  }
  .home-container {
    display: flex;
    flex-wrap: wrap;
  }
  .titulo {
    font-family: "minecraft";
    font-size: 4rem;
    margin: 0;
    min-width: 15rem;
    color: var(--text-color-terminal);
    text-shadow: var(--text-box-shadow);
  }
</style>

